.nspira__t-btn-main {
    background: none;
    outline: none;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.nspira__t-btn-main:hover{
    background: #dfe3e8;
}